<ol class="post-list" reversed>
    {% set currentYear = "" %}
    {% for post in postslist %}
    {% if showYear %}
        {% set postYear = post.date.getFullYear() %}
        {% if currentYear != postYear %}
        {% set currentYear = postYear %}
        <h3>{{ postYear }}</h3>
        {% endif %}
    {% endif %}
    <li>
        <a class="post-list__link" href="{{ post.url | url}}">{{ post.data.title }}</a>
        <small class="post-list__timestamp"><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></small>
    </li>
    {% endfor %}
</ol>