<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="color-scheme" content="dark light">
    <title>{{ title or metadata.title }}</title>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="{{ '/' | url }}">
                    <img src="{{ '/assets/img/jeebuk.svg' | url }}" class="apply-svg-filter"/>
                </a>
            </div>
            <div class="right-side">
                <a class="pill {{ "active" if isBlog }}" href="/">Blog</a>
                <a class="pill {{ "active" if isDigitalGarden }}" href="/digital-garden">Digital Garden</a>
                <img id="toggle-theme-button" src="{{ '/assets/img/sun.svg' | url }}" class="apply-svg-filter"/>
            </div>
        </div>
    </header>
    <main class="container" role="main">
        {{ content | safe }}
    </main>
    <script src="{{ '/assets/js/theme-switch.js' | url }}"></script>
</body>

</html>