---
showNavbar: true
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{{ '/assets/js/nr.js' | url }}"></script>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ excerpt or description or metadata.description }}">
     <meta name="keywords" content="{{ tags }}">
     <meta name="author" content="James Cross">
    <title>{{ title or metadata.title }}</title>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#D4443D">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#FFF">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#252525">
</head>

<body>
    {% if showNavbar %}
    <header class="site-header container">
        <a href="{{ '/' | url }}">
            <img src="{{ '/assets/img/logo-header.svg' | url }}" height="45"/>
        </a>
        <a href="/feed/feed.xml"><img src="{{ '/assets/img/rss.svg' | url }}"/></a>
    </header>
    {% endif %}
    <main class="container">
        {{ content | safe }}
    </main>
</body>

</html>