---
showNavbar: true
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript">{% include "../js/newrelic.js" %}</script>
    <script type="text/javascript">{% include "../js/appinsights.js" %}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="color-scheme" content="dark light">
    <title>{{ title or metadata.title }}</title>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#D4443D">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#FFF">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#252525">
</head>

<body>
    {% if showNavbar %}
    <header>
        <div class="container">
            <div class="logo">
                <a href="{{ '/' | url }}" class="no-hover">
                    <img src="{{ '/assets/img/jeebuk-header.svg' | url }}" class="apply-svg-filter" height="45"/>
                </a>
            </div>
            <div class="right-side">
                <a href="/feed/feed.xml" class="no-hover"><img src="{{ '/assets/img/rss.svg' | url }}" class="apply-svg-filter"/></a>
                <img id="toggle-theme-button" src="{{ '/assets/img/sun.svg' | url }}" class="apply-svg-filter"/>
            </div>
        </div>
    </header>
    {% endif %}
    <main class="container" role="main">
        {{ content | safe }}
    </main>
    <script src="{{ '/assets/js/theme-switch.js' | url }}"></script>
</body>

</html>