---
layout: layouts/base.njk
---

<main class="container">
    <article class="article-body">
        <header>
            <h1>{{ title }}</h1>
            <small><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></small>
        </header>
        <section>
            {{ content | safe }}
        </section>
    </article>
</main>
