---
layout: layouts/base.njk
---

<main class="container full-width">
    <article class="gallery">
        {% set taglist = collections.gallery %}
        {% for post in taglist | reverse %}
            {% for image in post.content | markdownToImagesOnly %}
                {{ image | safe }}
            {% endfor %}
        {% endfor %}
    </article>
</main>

