---
layout: layouts/base.njk
title: jeeb.uk
showNavbar: false
eleventyNavigation:
    key: Home
---

<div class="home">
    <section>
        <img src="{{ '/assets/img/jeeb.svg' | url }}"/>
    </section>

    <section>
        <h1><strong>Hi!</strong> I am James</h1>
    </section>

    <section>
        <nav>
            <a href="/posts">Blog</a>
            <a href="/digital-garden">Digital Garden</a>
            {# <a>About Me</a> #}
        </nav>
    </section>
</div>