---
layout: layouts/base.njk
title: jeeb.uk
showNavbar: false
eleventyNavigation:
    key: Home
---

<div>
    <section style="text-align: center;">
        <img src="{{ '/assets/img/logo-big.svg' | url }}" height="200" width="200"/>
    </section>

    <section>
        <h1><strong>Hi!</strong> I am <a href="/meta/about-me/">James</a></h1>
    </section>

    <section>
        <h2>Recent Posts</h2>
        {% set showYear = false %}
        {% set postslist = collections.posts | reverse | limit(5) %}
        {% include "postslist.njk" %}
        <p style="text-align: right;">
            <small><a href="/posts">All Posts</a></small>
        </p>
    </section>

    <section>
        <h2>Digital Garden <img src="{{ '/assets/img/tree.svg' | url }}" class="apply-svg-filter" width="24px" height="24px"/></h1>
        <p class="font-size-larger">What? Why? Who? <a href="../meta/readme">Start Here</a></p>

        <div class="dg-list">
            {{ collections.digitalGarden | eleventyNavigation("Home", { includeSelf: false }) | eleventyNavigationToHtml | safe }}
        </div>
    </section>

    <script src="{{ '/assets/js/masonry.js' | url }}" async defer></script>
</div>