---
layout: layouts/post.njk
title: jeeb.uk - Posts
permalink: posts/index.html
showBreadcrumbs: true
showTitle: false
eleventyNavigation:
    parent: Home
    key: Posts
---

{% set showYear = true %}
{% set postslist = collections.posts | reverse %}
{% include "postslist.njk" %}