.breadcrumbs ul {
    list-style: none;
    padding-left: 0;
    font-size: 0.8rem;
}

.breadcrumbs ul li {
    display: inline;
}

.breadcrumbs ul li+li:before {
    padding: 0 0.5rem;
    color: var(--text-color);
    content: ">";
    transform: scale(0.6,1.7) translateY(-2px);
    display: inline-block;
}

.breadcrumbs ul li:last-child a {
    pointer-events: none;
    color: var(--text-color) !important;
}

// .breadcrumbs ul li:last-child {
//     display: none;
// }