.breadcrumbs ul {
    list-style: none;
    padding-left: 0;
}

.breadcrumbs ul li {
    display: inline;
}

.breadcrumbs ul li+li:before {
    padding: 0.5rem;
    color: $foreground-color;
    content: "/\00a0";
}

// .breadcrumbs ul li:last-child a {
//     pointer-events: none;
//     color: $foreground-color !important;
//     font-weight: bold;
// }

.breadcrumbs ul li:last-child {
    display: none;
}