@media (prefers-color-scheme: dark) {
    img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
    }

    img:hover {
      opacity: 1;
    }
}

.toggle-theme {
    $button-size: 24px;

    position: absolute;
    top: calc(50% - ($button-size / 2));
    right: 0.5rem;

    #toggle-theme-button {
        display: block;
        cursor: pointer;
        height: $button-size;
        width: $button-size;
        background-image: var(--toggle-icon);
    }
}
