.dg-list {
    ul {
        list-style: none;
        padding-left: 0;
    }

    & > ul {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        grid-template-rows: masonry;
        justify-content: center;
        
        & > * { 
            align-self: start 
        }

        & > li {
            padding: 0.25rem;
            margin: 0.25rem;
            background-color: #eee;

            & > a {
                font-size: 1.17em;
                font-weight: bold;
            }

            & > ul {
                & > li {
                    padding-right: 0.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .dg-list {
        & > ul {
            grid-template-columns: 1fr;
        }
    }
}