h1, h2, h3, h4, h5, h6 {
    .heading-anchor {
        float: left;
        padding-right: 4px;
        margin-left: -20px;
        display: none;

        &:hover, &:focus, &:active {
            background: none;
        }
    }

    &:hover {
        .heading-anchor {
            display: inline;
        }
    }
}