header {
    position: relative;
    border-bottom: 1px solid var(--text-color);

    .logo {
        a {
            display: flex;
        }
    }

    .container {
        display: flex;
        align-items: center;
    }

    .right-side {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
}