.home {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -1rem;
    
    nav {
        font-size: 1.2rem;
    }
}