@import "normalize";
@import "prism-material-dark";

$background-color: #f2f1eb;
$background-accent-color: #fefcf6;
$text-color: #101010;
$anchor-color: #D4443D;
$other-color: #1A354F;

body {
    font-family: "Josefin Sans",helvetica neue,sans-serif;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: -.01rem;
    margin: 0;
    word-break: break-word;
    background: $background-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6, p, time {
    color: $text-color;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: $anchor-color;

    h2 {
        color: $anchor-color;
    }
}

ol, ul {
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 700px;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

time {
    font-size: 0.8rem;
}

article {
    background: $background-accent-color;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;

    ol, ul {
        margin-left: 1rem;
    }

    img {
        max-width: 100%;
    }
}

details {
    summary {
        list-style: none;
        &:after {
            content: ' + more';
        }
    }

    &[open] {
        summary {
            &:after {
                content: ' - less';
            }
        }
    }
}

.index-header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.intro-text {
    display: inline;
}

.more-button {
    background: none;
    border: none;
    color: $anchor-color;
    cursor: pointer;
    padding: 0;
    font: inherit;
    text-decoration: underline;
}

.tag-list {
    list-style: none;
    display: inline;
    line-height: 2rem;
    > * {
        margin-right: 0.1rem;
    }
}

.tag {
    display: inline;
    background-color: $anchor-color;
    color: $background-color;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;

    &.hidden {
        display: none;
    }
    
    a { 
        color: $background-color;
    }
}