@import "normalize";
@import "prism-material-dark";
@import "variables";
@import "tags";

body {
    font-family: "Josefin Sans",helvetica neue,sans-serif;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: -.01rem;
    margin: 0;
    word-break: break-word;
    background: $background-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6, p, time {
    color: $text-color;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: $anchor-color;

    h2 {
        color: $anchor-color;
    }
}

ol, ul {
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 0.5rem;
    max-width: 700px;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.index-header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

time {
    font-size: 0.8rem;
}

article {
    background: $background-accent-color;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;

    ol, ul {
        margin-left: 1rem;
    }

    img {
        max-width: 100%;
    }
}

.intro-text {
    display: inline;
}

