// Colours shamelessly stolen from: https://www.departika.com
// Used to create the filters below: https://codepen.io/sosuke/pen/Pjoqqp

// Light Theme
$light-background-color: #FFF;
$light-background-accent-color: #EBECEC;
$light-text-color: #252525;
$light-anchor-color: #D4443D;
$light-other-color: #1A354F;
$light-toggle-icon: url("/assets/img/moon.svg");
$light-svg-filter: invert(9%) sepia(4%) saturate(6%) hue-rotate(321deg) brightness(92%) contrast(85%);

// Dark Theme
$dark-background-color: #252525;
$dark-background-accent-color: #2D2F32;
$dark-text-color: #FFF;
$dark-anchor-color: #D4443D;
$dark-other-color: #FBDE44;
$dark-toggle-icon: url("/assets/img/sun.svg");
$dark-svg-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

body {
    color-scheme: light dark;
    --bkg-color: #{$light-background-color};
    --accent-bkg-color: #{$light-background-accent-color};
    --text-color: #{$light-text-color};
    --anchor-color: #{$light-anchor-color};
    --other-color: #{$light-other-color};
    --toggle-icon: #{$light-toggle-icon};
    --svg-filter: #{$light-svg-filter};
}

body.dark-theme {
    --bkg-color: #{$dark-background-color};
    --accent-bkg-color: #{$dark-background-accent-color};
    --text-color: #{$dark-text-color};
    --anchor-color: #{$dark-anchor-color};
    --other-color: #{$dark-other-color};
    --toggle-icon: #{$dark-toggle-icon};
    --svg-filter: #{$dark-svg-filter};
}

@media (prefers-color-scheme: dark) {
    body { 
        --bkg-color: #{$dark-background-color};
        --accent-bkg-color: #{$dark-background-accent-color};
        --text-color: #{$dark-text-color};
        --anchor-color: #{$dark-anchor-color};
        --other-color: #{$dark-other-color};
        --toggle-icon: #{$dark-toggle-icon};
        --svg-filter: #{$dark-svg-filter};
    }

    body.light-theme {
        --bkg-color: #{$light-background-color};
        --accent-bkg-color: #{$light-background-accent-color};
        --text-color: #{$light-text-color};
        --anchor-color: #{$light-anchor-color};
        --other-color: #{$light-other-color};
        --toggle-icon: #{$light-toggle-icon};
        --svg-filter: #{$light-svg-filter};
    }
}