

body.dark-theme {
    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;
      }
  
      img:hover {
        opacity: 1;
      }
}

@media (prefers-color-scheme: dark) {
    body { 
        img {
            opacity: .75;
            transition: opacity .5s ease-in-out;
        }
      
        img:hover {
            opacity: 1;
        }
    }

    body.light-theme {
        img {
            opacity: 1;
        }
    }
}


#toggle-theme-button {
    $button-size: 24px;

    display: block;
    margin-left: 1rem;
    cursor: pointer;
    height: $button-size;
    width: $button-size;
    content: var(--toggle-icon);
}

.apply-svg-filter {
    filter: var(--svg-filter);
}